$link-color: #CA776C;
$body-heading-color: #CA776C;
$base-button-color: #CA776C;
$sidebar-color: #FFFAF8;
$nav-child-link-color: #CA776C;
$search-result-preview-color: #FFFEFF;
$feedback-color: #E2D3D0;
//$feedback-color: darken($sidebar-color, 3%) !default;